@font-face {
    font-family: "LINE Seed Sans TH";
    src: url("fonts/LINESeedSansTH_W_Th.woff2") format("woff2"),
         url("fonts/LINESeedSansTH_W_Th.woff")  format("woff");
    font-weight: 100; font-display: swap;
}
@font-face {
    font-family: "LINE Seed Sans TH";
    src: url("fonts/LINESeedSansTH_W_Rg.woff2") format("woff2"),
         url("fonts/LINESeedSansTH_W_Rg.woff")  format("woff");
    font-weight: 400; font-display: swap;
}
@font-face {
    font-family: "LINE Seed Sans TH";
    src: url("fonts/LINESeedSansTH_W_Bd.woff2") format("woff2"),
         url("fonts/LINESeedSansTH_W_Bd.woff")  format("woff");
    font-weight: 700; font-display: swap;
}
@font-face {
    font-family: "LINE Seed Sans TH";
    src: url("fonts/LINESeedSansTH_W_XBd.woff2") format("woff2"),
         url("fonts/LINESeedSansTH_W_XBd.woff")  format("woff");
    font-weight: 800; font-display: swap;
}
@font-face {
    font-family: "LINE Seed Sans TH";
    src: url("fonts/LINESeedSansTH_W_He.woff2") format("woff2"),
         url("fonts/LINESeedSansTH_W_He.woff")  format("woff");
    font-weight: 900; font-display: swap;
}

:root {
    --color-bg: #ffffff;
    --color-text: #222222;
    --color-muted: #454545;
    --color-accent: #FF5E00;
}
/*<html></html> variables defined here are available everywhere.*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: "LINE Seed Sans TH", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #fffdf7;
}
nav{
    position: sticky;
    top: 0;
    z-index: 10;
    background: var(--color-bg);
    display: flex;
    gap: 2rem;
    padding: 1rem 2rem; /*top-btm, left-right*/
}
nav a[href="/index.html"]{
    font-weight: bold;
}
nav a{
    text-decoration: none;
    color: var(--color-text);
    padding: 0 1rem;
}
/*------------------------------------------------------------------------------------------------*/

section.Hero {
    padding: 5rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 450px;
}
.HeroContainer{
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;
}
.HeroImg img{
    border-radius: 2rem;
}
.HeroText h1{
    color: var(--color-text);
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}
.HeroText p{
    color: var(--color-muted);
    font-size: 1.2rem;
    line-height: 1.6;
}
/*------------------------------------------------------------------------------------------------*/
.Icons{
    width: 100%;
    max-width: 867px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;
}
.icon{
    display: flex;
    justify-items: flex-start;
    gap: 2rem;
}
.icon a{
    color: var(--color-muted);
}
/*------------------------------------------------------------------------------------------------*/
.Projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /*main axis*/
    padding: 4rem 2rem;
}
.ProjectsContainer{
    flex-direction: column;
    justify-items: center;
    gap: 5rem;
}
.ProjectsHeader{
    display: flex;
    flex-direction: row;
}
.Projects h2{
    font-size: 2rem;
    color: var(--color-text);
    margin-bottom: 2rem;
}
.Projects a{
    font-size: 1.2rem;
    text-decoration: dotted;
    color: var(--color-text);
}
.project-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.project-card{
    background: var(--color-bg);
    border: 1px solid #ddd;
    border-radius: 1rem;
    padding: 2rem;
}
.project-card img{
    width: 100%; /*fill card width*/
    border: 0.5rem;
    margin-bottom: 1rem;
    aspect-ratio: 16/9;
    object-fit: cover;
}
.project-card a{
    color: var(--color-accent);
    text-decoration: none;
    font-weight: bold;
    display: block; /*inline -> block*/
    margin-top: 2rem;
}
/*------------------------------------------------------------------------------------------------*/